.nav {
  background-color: #4d4d4d;
  padding: 30px;
  border-bottom: 1px solid #fff;
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.fullname {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.name:hover {
  color: #c7aa8b;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.link:hover {
  color: #c7aa8b;
}
